.card {
    max-width: 350px;
    background-color: #f36738;
    padding: 30px;
    border-radius: 15px;
    font-family: sans-serif;
}

.card__plan {
    font-size: 22px;
}

.card__price {
    font-weight: 600;
    font-size: 40px;
}
