<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Nome: </span><span> {{user.nome}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Email: </span><span>{{user.email}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Telefone: </span><span>{{user.telefone}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Endereço: </span><span>{{user.endereco?.rua}}, {{user.endereco?.numero}}, {{user.endereco?.cidade}},
        {{user.endereco?.estado}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Ativo: </span><span>{{user.ativo ? "Sim" : "Não"}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Função: </span><span>{{user.funcao}}</span>
    </mat-list-item>
    <mat-list-item>
      <span>Data de Cadastro: </span><span>{{user.dataCadastro}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>