<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Nome: </span><span>Fulano Da Silva</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Email: </span><span>FulanoDaSilvagmail.com</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Telefone: </span><span>(11) 9 9234-3454</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Endereço: </span><span>Rua das flores, 42, São Paulo - SP</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Ativo: </span><span>Sim</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Data de Cadastro: </span><span>20/08/2023</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
