<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Nome: </span><span> {{user.nome | dashIfEmpty}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Email: </span><span>{{user.email | dashIfEmpty}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Telefone: </span><span>{{user.telefone | phone | dashIfEmpty}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Endereço: </span><span>{{user.endereco | address | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Ativo: </span><span>{{user.ativo | active}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Função: </span><span>{{user.funcao | dashIfEmpty}}</span>
    </mat-list-item>
    <mat-list-item>
      <span>Data de Cadastro: </span><span>{{user.dataCadastro | dashIfEmpty | registrationDate}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>