
.card-roxo {
    max-width: 350px;
    background-color: #bba1e3;
    padding: 30px;
    border-radius: 15px;
    font-family: sans-serif;
}

.card-roxo__plan {
    font-size: 22px;
}

.card-roxo__price {
    font-weight: 600;
    font-size: 40px;
}
