<div class="filter">
  <form class="form">
    <div class="form__name">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ex. Fulano Da Silva" value="Fulano">
      </mat-form-field>
    </div>

    <div class="form__date-picker">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Data de Cadastro">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form__status">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form__button">
      <button mat-raised-button color="primary">Primary</button>
    </div>
  </form>
</div>