.card-roxo {
    max-width: 350px;
    background-color: #ede1ff;
    border-radius: 25px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;

    &__item {
        padding: 10px;
    }

    &__plan {
        font-size: 25px;
    }

    &__price {
        font-weight: 16px;
        font-size: 40px;
    }
}